<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <!--<link href="/css/scrolling-nav.css" rel="stylesheet">-->
    
    <!--<link href="/css/app.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top this_navbar" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll logo" style="align-items: center;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-header page-scroll logo" href="#page-top">Microgram</a>
            </div>
            <br>
            <br>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll logo" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll items" href="#whatis">What Is Microgram ?</a>
                    </li>
                    <li>
                        <a class="page-scroll items" href="#researcher">For Researchers</a>
                    </li>
                    <li>
                        <a class="page-scroll items" href="#student">For Students</a>
                    </li>

                    <li>
                        <a class="page-scroll items" href="#aboutus">About Us</a>
                    </li>
                    <li>
                        <a class="login" href="/login">Log in</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style ="width: 500px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="margin-left: auto; margin-right: auto;">
    <div class="item active">
      <!--<img src="images/nanocrystalline magnesium.jpg" alt="...">-->
      <%= image_tag("nanocrystallineMagnesium.jpg") %>
      <div class="carousel-caption">
        <!--<img src="images/aluminum.jpg" alt="...">-->
      </div>
    </div>
    <div class="item">
      <!--<img src="images/ceramic1.jpg" alt="...">-->
      <%= image_tag("ceramic1.jpg") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <!--<img src="images/foams1.png" alt="...">-->
      <%= image_tag("foams1.png") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <!--<img src="images/steel2.gif" alt="...">-->
      <%= image_tag("steel2.gif") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <!--<img src="images/uranium dicarbide.jpg" alt="...">-->
      <%= image_tag("uraniumDicarbide.jpg") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="whatis" class="whatis-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="font-family:serif; font-size: 45px;">What is Microgram ?</h1>
                    <br>
                    <p style="font-family:sans-serif; font-style:italic; font-size: 26px;" >Microstructures are an integral member in the world of material sciences. Microstructure design and manipulation is the basis of much of materials research. However most of the microstructure data collected in research rarely gets shared.</p>
                    <br>
                    <p style="font-family:sans-serif; font-style:italic; font-size: 26px;">Microgram is a platform which enables researchers in materials science to share and collaborate materials research in the realm of microstructures. The platform provides for easy upload, tagging and sharing of microstructure images and allows for complete control over who can access your data.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="researcher" class="researcher-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="font-family:serif; font-size: 45px;">For Researcher</h1>
                    <br>
                    <p style="font-family:sans-serif; font-style:italic; font-size: 26px;">Every materials research project entails collection of a large number of microstructure images. Only a very small fraction of them make way into the journal publication and rest all snapshots of the same material are lost in the local desktop. However this data collection is expensive and we believe all data is crucial to research.</p>
                    <br>
                    <p style="font-family:sans-serif; font-style:italic; font-size: 26px;">Hence Microgram! The platform enables you as a researcher to upload all microstructures collected for a project by simply dragging and dropping them from your local desktop. You can tag simple metadata about the microstructures and for further information can link your journal paper to the images. Further more you can control the privacy settings of the images and either keep it private, protected or public. Hence Microgram can be a great tool to collaborate on research within a project as well.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="student" class="student-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="font-family:serif; font-size: 45px;">For Students</h1>
                    <br>
                    <p style="font-family:sans-serif; font-style:italic; font-size: 26px;">Welcome to the world of materials science. What makes this world interesting is microstructures. Isn’t it cool to be able to view materials at different scales? There are millions of patterns exhibited by different materials and each pattern has its own story to tell. Microstructures can be regarded as fingerprints, unique material identifiers and hence the study of microstructures is crucial to the study of materials itself.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- AboutUs Section -->
    <section id="aboutus" class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="font-family:serif; font-size: 45px;">About Us</h1>
                    <br>
                    <p style="font-family:sans-serif; font-style:italic; font-size: 26px;">We are a materials science research group at the Texas A&M University headed by Dr. Raymundo Arroyave. We feel very strongly about open science and pledge by the power of data in materials research. We work on many areas of data enabled materials discovery, an integral part of which is having the tools and robust infrastructure that provides for easy curation and sharing of data. Microgram is one such effort specialized to aid our mission in the realm of microstructures.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <!--<script src="/js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="/js/bootstrap.min.js"></script>-->

    <!-- Scrolling Nav JavaScript -->
    <!--<script src="/js/jquery.easing.min.js"></script>-->
    <!--<script src="/js/scrolling-nav.js"></script>-->

</body>

</html>
