<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :individualrole, "Individual Role" %>
      <%= f.collection_select :individualrole, User::INDIVIDUAL_ROLES, :to_s, :to_s, 
       :include_blank => true, :selected => @user.individualrole , class: 'form-control' %>
      
      <%= f.label :org, "Organisation" %>
      <%= f.text_field :org, class: 'form-control' %>
      
      <%= f.label :dept, "Department" %>
      <%= f.text_field :dept, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Profile Picture Change</a>
    </div>
  </div>
</div>