
<% provide(:title, @user.name) %>
<center><h1>My information</h1></center>
<br><br><br>
<div style="text-align: left">
        <h4>Name : <%= @user.name %></h4><br>
        <h4>Email : <%= @user.email %></h4><br>
        <h4>individualrole: <%= @user.individualrole %></h4><br>
        <h4>Organisation: <%= @user.email %></h4><br>
        <h4>Department: <%= @user.dept %></h4>
</div>

