<% provide(:title, "Edit upload") %>
<h1 style="margin-left:226px;">Update this upload</h1>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <%= form_for(@upload) do |f| %>

      <% if @upload.images.first %>
        <% @upload.images.all.each do |b| %>
          <%= image_tag b.image(:small) %>
        <% end %>
        <br><br>
        <h4> If you want remove all images, Check here <%= f.check_box :image_delete %> </h4>
        <br>
        <h4> If you want add additional images, include below </h4>
        <%= f.file_field @upload.images.build, multiple: true, name: "upload[images_attributes][][image]", class: 'form-control' %>
      <% else %>
        <%= f.file_field @upload.images.build, multiple: true, name: "upload[images_attributes][][image]", class: 'form-control' %>
      <% end %>
      <br>

      
        <%= f.label :tags, "Tags" %> 
        <br>
        <%= f.fields_for :tags do |b| %>
          <div class="col-md-6">
            <%= b.text_field :tagname, class: 'form-control' %>
          </div>
          
        <% end %>
      

      <div>
    <%= f.label :protections, "Users to be shared" %>
    <% if @upload.protections.first %>
      <%= f.fields_for :protections do |c| %>
        <%= c.email_field :sharedid, class: 'form-control' %>
      <% end %>
    <% else %>
        <p> Nothing </p>
    <% end %>
      </div>
      
      <div>  
        <%= f.label :permission %>
        <%= f.collection_select :permission, Upload::PERMISSIONS, :to_s, :to_s, 
         :include_blank => true, :selected => 'Private', class: 'form-control' %>
     </div> 
     
        <%= f.label :url, "URL" %>      
        <%= f.url_field :url, class: 'form-control' %>


        <%= f.label :Description %>
        <%= f.text_area :description, placeholder: "Enter description of microstructure(s)", :row => 5, class: 'form-control' %>
        
        
      <%= f.submit "Update your submission", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>