<% provide(:title, 'Submission') %>
<br>
<h1>Submission</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@upload, :html => {:multipart => true}) do |f| %>

      <%= f.label :images, "Image Files" %>    
      <%= f.fields_for :images do |a| %>
        <% if a.object.new_record? %>
        <%= a.file_field :image, class: "dropzone", class: 'form-control' %>
      <% end %>
      <% end %>

      <%= f.label :tags, "Tags" %> 
      <%= f.fields_for :tags do |b| %>

        <% if b.object.new_record? %>
        <%= b.text_field :tagname, class: 'form-control' %>

      <% end %>
      <% end %>
      
    
        <%= f.label :permission %>
        <%= f.collection_select :permission, Upload::PERMISSIONS, :to_s, :to_s, 
         :include_blank => true, :selected => 'Private', class: 'form-control' %>
         
        <%= f.label :urs, "URL" %>      
        <%= f.url_field :url, class: 'form-control' %>


        <%= f.label :Description %>
        <%= f.text_area :description, placeholder: "Enter description of microstructure(s)", :row => 5, class: 'form-control' %>
        
        
      <%= f.submit "Submit your images", class: "btn btn-primary" %>
    <% end %>
</div>
</div>
