<!DOCTYPE html>

<h1>Submission</h1>

    <%= form_for @upload, :html => {:multipart => true, class: "dropzone", style:"overflow: auto;"} do |f| %>
     
      <%= f.label :tags, "Tags" %> 
      <%= f.fields_for :tags do |b| %>
        <% if b.object.new_record? %>
        <%= b.text_field :tagname, class: 'form-control' %>
        <% end %>
      <% end %>
      
      
      <%= f.label :protections, "Users to be shared" %> 
      <%= f.fields_for :protections do |c| %>
        <% if c.object.new_record? %>
        <%= c.text_field :sharedid, class: 'form-control' %>
        <% end %>
      <% end %>
      
    
        <%= f.label :permission %>
        <%= f.collection_select :permission, Upload::PERMISSIONS, :to_s, :to_s, 
         :include_blank => true, :selected => 'Private', class: 'form-control' %>
         
        <%= f.label :url, "URL" %>      
        <%= f.url_field :url, class: 'form-control' %>


        <%= f.label :Description %>
        <%= f.text_area :description, placeholder: "Enter description of microstructure(s)", :row => 5, class: 'form-control' %>
        <div style="text-align:center">
        <%= link_to "Submit your images", @upload, id: "sub_button", class: "btn btn-primary" %>
        </div>
      
     <% end %>    
 