<br>
<body>
<h1 style="text-align:center">Explore Micrograms</h1>
<div style="text-align:center; margin-top: 50px">
    <%= form_tag(uploads_search_path, :method => "get", id: "search-form", style:"overflow: auto;") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Micrograms" %>

    <%= submit_tag "Search", id: "search_btn" %>
    <img src=<%= asset_path('search_icon.png') %> alt="search" />
    <% end %>
</div>

<% if @tags.present? %>
    <% @ids.each do |id| %>
        <% if Upload.find(id).permission == "Public" %>
            <%= link_to "Image", upload_path(id) %>
            <%= image_tag Upload.find(id).images.first.image(:small) %>
        <% end %>
    <% end %>
<% end %>

</body>