<br><br>
<%= link_to "Back to upload index", uploads_path %>
<h1>This is the images that are shared with you.</h1>
<br>
    <% count = 1 %>
    <% if @shared == 0 %>
        <h3> There are no images shared with you! </h3>
    <% else %>
        <h3> Images shared with you! </h3> <br>
        <% @shared.each do |a|%>
            <% user = Upload.find(a).user_id %>
            <h2><p>below image(s) belong(s) to : <%= User.find(user).email %></p></h2>
            <%= link_to "image #{count}", upload_path(a) %>
            <% count = count +1 %>
            <% Upload.find(a).images.each do |b| %>
                 <%= image_tag b.image(:small)%>
            <% end %>
            <h4>Description</h4>
            <%= Upload.find(a).description %>
            <br><br>
        <% end %>
    <% end %>