<br><br>
<%= link_to "Back to upload index page", uploads_path %>
<h1>This is what you just uploaded</h1>
<br>
<% count = 1 %>
<% @upload.images.all.each do |a| %>
<h4>Image <%= "#{count}" %> <%= image_tag a.image(:small) %></h4>
<% count = count + 1 %>
<% end %>

<% count = 1 %>
<br>

<h4> Permission : <%= label_tag @upload.permission %></h4>
<br>
<% @upload.tags.all.each do |b| %>
  <h4>Tag<%= "#{count}" %>: <%= label_tag b.tagname %></h4>
  <% count = count + 1 %>
<% end %>

<% count = 1 %>
<br>

<% @upload.protections.all.each do |c| %>
  <h4>Only shared to : <%= label_tag c.sharedid %></h4>
<% end %>

<br>
<h4> Description : <%= label_tag @upload.description %> </h4>

