<!DOCTYPE html>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		  <% count = 1 %>
      <% @upload.images.all.each do |a| %>
      <h4># <%= "#{count}" %> <%= image_tag a.image(:small) %></h4>
      <% count = count + 1 %>
      <% end %>
		</div>
		<div class="col-md-8" style="width:50%; margin-top: 50px;">
		  <% count = 1 %>
      <h4 style="text-align:center"> Permission : <%= @upload.permission %></h4>
        <div style="border:solid">
          <ul>
          <% @upload.tags.all.each do |b| %>
              <li class="tags">#<%= b.tagname %></li>
            <% count = count + 1 %>
          <% end %>
          </ul>          
        </div>
		  <h4> Description : <%= @upload.description %> </h4>
		</div>
	</div>
</div>






<br><br>
<h3><%= link_to "Back to upload index page", session[:my_previous_url] %></h3>
<h3><%= link_to "Back to previous page", session[:my_previous_url] %></h4>

<% if session[:my_previous_url] == new_upload_url %>
  <h1>This is what you just uploaded.</h1>
<% else %>
  <h1>This is the image you want to see.</h1>
<% end %>

<br>
<% count = 1 %>
<% @upload.images.all.each do |a| %>
<h4>Image <%= "#{count}" %> <%= image_tag a.image(:small) %></h4>
<% count = count + 1 %>
<% end %>

<% count = 1 %>
<br>

<h4> Permission : <%= label_tag @upload.permission %></h4>
<br>
<% @upload.tags.all.each do |b| %>
  <h4>Tag<%= "#{count}" %>: <%= label_tag b.tagname %></h4>
  <% count = count + 1 %>
<% end %>

<% count = 1 %>
<br>

<% @upload.protections.all.each do |c| %>
  <h4>Only shared to : <%= label_tag c.sharedid %></h4>
<% end %>

<br>
<h4> Description : <%= label_tag @upload.description %> </h4>

