<!--<div id="sidebar">-->

<!--</div>-->
<!--<div id="content">-->
<!--    <%= yield %>-->
<!--</div>-->



    <!--<div class="container-fluid"  style="padding-left: 0px; padding-right: 110px; float:left">-->
      <div class="row" style="float:left; height:100%; width: 230px">
        <nav class="col-lg-3" style="width: 230px">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="0">
            <li class="active"><%= link_to "New Submission",   new_upload_path %></li>
            <li><%= link_to "My Submission",   uploads_mysubmission_path %></li>
            <li><%= link_to "Shared with me",   uploads_sharedtome_path %></li>
            <li><%= link_to "Search Microgram", '#' %></li>
            </ul>
        </nav>
      </div>
    <!--</div>-->




